[submodule "deps/rax"]
	path = deps/rax
	url = https://github.com/antirez/rax.git
[submodule "deps/xxHash"]
	path = deps/xxHash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "deps/RediSearch"]
	path = deps/RediSearch
	url = https://github.com/FalkorDB/RediSearch.git
[submodule "deps/utf8proc"]
	path = deps/utf8proc
	url = https://github.com/JuliaStrings/utf8proc.git
[submodule "deps/oniguruma"]
	path = deps/oniguruma
	url = https://github.com/kkos/oniguruma.git
[submodule "deps/libcsv"]
	path = deps/libcsv
	url = https://github.com/rgamble/libcsv.git
[submodule "deps/libcurl"]
	path = deps/libcurl
	url = https://github.com/curl/curl.git
[submodule "deps/LAGraph"]
	path = deps/LAGraph
	url = https://github.com/GraphBLAS/LAGraph.git
[submodule "deps/quickjs"]
	path = deps/quickjs
	url = https://github.com/bellard/quickjs.git
[submodule "deps/tidesdb"]
	path = deps/tidesdb
	url = https://github.com/TidesDB/tidesdb.git
